/* for large laptop  */
@media screen and (max-width: 1200px) {
  .container {
    width: 80%;
  }
}

/* for medium laptop  */
@media screen and (max-width: 992px) {
  .container {
    width: 90%;
  }
  .menu ul {
    gap: 1.5rem;
  }
  .bannerWarp {
    flex-direction: column-reverse;
  }
  .banner {
    background-image: none;
  }
  .bannerTextWrap {
    padding: 8rem 0rem;
    background-image: url('./images/Group14.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .funnyVideosCardWrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .playInstantText {
    width: 35rem;
  }
  .playInstantOverflowImg {
    transform: scale(0.6);
  }
  .playInstantWrap {
    gap: 6rem;
  }
  .playGamesOnlineOverflowImg {
    transform: scale(0.6);
  }
  .playGamesOnlineWrap {
    gap: 6rem;
  }
  .careersWrap {
    flex-direction: column;
  }
  .careersText {
    width: 100%;
  }
  .footerWrap {
    width: 100%;
  }
  .footerLink {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 2rem;
    grid-template-columns: repeat(3, 120px);
  }
  .footerIcon {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 3rem;
    grid-template-columns: repeat(3, 120px);
    justify-items: center;
  }
  .footerWebLink {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 3rem;
    grid-template-columns: repeat(2, 180px);
    justify-items: center;
  }
}

/* for small laptop or tablet device */
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .headerWrap {
    flex-direction: column;
    gap: 2.5rem;
  }
  .menu ul {
    flex-direction: column;
    gap: 2.5rem;
  }
  .weAreGamerWrap {
    flex-direction: column;
  }
  .weAreGamerTextWrap {
    text-align: center;
  }
  .funnyVideosCardWrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .playInstantWrap {
    flex-direction: column;
    gap: 3rem;
  }
  .playInstantText {
    width: 22rem;
    text-align: center;
  }
  .playInstantImgWrap {
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: end;
  }
  .playGamesOnlineWrap {
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .playGamesOnlineImgWrap {
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: end;
  }
  .playGamesOnlineText {
    width: 26rem;
    text-align: center;
  }
  .careersListWrap {
    flex-direction: column;
    gap: 2rem;
    font-size: 1rem;
  }
  .careersListRight ul {
    text-align: left;
  }
}

/* for mobile device  */
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0rem 1rem;
  }
  .weAreGamerTextWrap {
    width: 100%;
  }
  .playInstantOverflowImg {
    transform: scale(0.5);
    bottom: -155px;
  }
  .playGamesOnlineOverflowImg {
    transform: scale(0.5);
    bottom: -155px;
  }

  .footerCopyright p {
    line-height: 30px;
  }
  .typeofGamesWrap {
    gap: 10px;
  }
  .singleTypeofGames {
    width: 10rem;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }
  .singleTypeofGames img {
    width: 28px;
  }
  .singleTypeofGames p {
    font-size: 11px;
  }
}

/* for small mobile device  */
@media screen and (max-width: 425px) {
  .container {
    width: 100%;
    padding: 0rem 1rem;
  }
  .playInstantText {
    width: 100%;
  }
  .playGamesOnlineText {
    width: 100%;
  }
  .typeofGamesWrap {
    gap: 10px;
  }
  .typeofGamesWrap {
    justify-content: space-between;
  }
  .singleTypeofGames {
    width: 6rem;
    gap: 0.5rem;
    padding: 0.2rem 0.3rem;
  }
  .singleTypeofGames img {
    width: 20px;
  }
  .singleTypeofGames p {
    font-size: 8px;
  }
  .footerCopyright p {
    line-height: 30px;
  }
  .footerCopyright p span {
    display: block;
  }
}

/* for many small mobile device  */
@media screen and (max-width: 375px) {
  .container {
    width: 100%;
    padding: 0rem 1rem;
  }
  .bannerText p {
    font-size: 2rem;
  }
  .bannerStyleText h1 {
    font-size: 3.9rem;
  }
  .bannerListText p {
    font-size: 1rem;
  }
  .bannerBtn {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}
