@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Work Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

/* common css style start  */
.container {
  width: 75%;
  margin: 0 auto;
}
.primary-btn {
  padding: 21px 40px;
  border-radius: 3rem;
  background: #ff42a5;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.secondary-btn {
  padding: 21px 40px;
  border-radius: 3rem;
  background: #4ec5f7;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.gradient-text {
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* common css style end */

/* nav css style start  */
.header {
  box-shadow: 0px 1px 20px -10px #00000069;
}
.logo p {
  font-size: 2.6rem;
  font-weight: 700;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.375rem 0rem;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.menu ul li:last-child {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 0.6rem 1.25rem;
}
.menu ul li a,
p {
  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
}
/* nav css style end */

/* banner css style start  */
.bannerText p {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.bannerStyleText h1 {
  font-size: 5.9rem;
  font-weight: 800;
}
.bannerListText p {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: lowercase;
  margin-bottom: 1rem;
}
.bannerStyleText {
  margin-bottom: 1.5rem;
}

.bannerBtn {
  margin-top: 3.5rem;
}
.bannerWarp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.banner {
  background-image: url('./images/Group14.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.bannerImg img {
  width: 100%;
}

.bannerTextWrap {
  padding: 2rem 0rem;
}
/* banner css style end */

/* we are gamer css style start */
.weAreGamer {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.weAreGamerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 0rem;
}

.weAreGamerSubTitle p {
  color: #534c64;
  /* text-align: right; */
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.weAreGamerTextWrap {
  text-align: right;
  width: 32.5rem;
}

.weAreGamerSubTitle {
  margin: 1.5rem 0rem 3rem;
}

.weAreGamerBtn {
  margin-bottom: 3rem;
}

.weAreGamerPurpose span {
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 45px; /* 187.5% */
}

.weAreGamerPurpose p {
  color: #534c64;
  font-size: 2rem;
  font-weight: 700;
  line-height: 45px;
}

.weAreGamerStyleText h1 {
  font-size: 3rem;
  font-weight: 700;
}
/* we are gamer css end */
